#main
{
    margin-top:2%; 
    padding-left:4%; 
    margin-bottom: 5%; 
}
#title
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;
}
#text
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
}
.photos
{
    border-radius: 9px;
    width: 100%;
    display: block;
    height: auto;
}
.imge{
    margin-top:2% 
}